<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="auto">

{% include "components/header.html" %}

<body class="d-flex h-100 text-center text-bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include "components/navbar.html" %}
    <!-- Main Section -->
    <main class="px-3">
      <h1>Basic Test Website Example</h1>
      {% if user %}
       <p class="lead">Hello, {{ user.email }}</p>
       <a href="{{ url_for('auth.logout') }}">Logout!</a>
      {% else %}
        <p class="lead">Hello, Guest</p>
        <a href="{{ url_for('auth.login') }}">Login!</a>
      {% endif %}
    </main>
    {% include "components/footer.html" %}
  </div>
  {% include "components/scripts.html" %}
</body>

</html>