<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Ghost Name Picker for PHQ">
  <meta name="theme-color" content="#712cf9">

  <title>Basic Website Test</title>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"nonce="{{ csp_nonce() }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>